
@import "_variables";
@import "functions";

@mixin cart-overview() {

    &.show-cart-overview {
        .cart-overview-wrapper {
            visibility: visible;
            opacity: 1;
            transform: scale3d(1,1,1);
        }    
    }
    
    .cart-overview-wrapper {

        position: absolute;
        top: 100%;
        right: -20px;
        z-index: 10;
        width: 350px;    
        visibility: hidden;
        padding: {
            right: 20px;
            left: 20px;
            bottom: 20px;
        };
        cursor: default;
        opacity: 0;
        transition: 0.1s;
        transform: scale3d(0.95,0.95,0.95);

        .cart-overview-placeholder {

            position: relative;
            width: 100%;
            background-color: white;
            border: 1px solid lighten( $color-complementary, 42% );
            cursor: default;
            color: black;
            -webkit-box-shadow: 5px 6px 7px -10px #000000; 
            box-shadow: 5px 6px 7px -10px #000000;
            border-radius: 0 0 5px 5px;        
        
            .empty-cart {
                min-height: 250px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;            
        
                .icon {
                    color: $color-complementary;
                    -webkit-box-shadow: none; 
                    box-shadow: none;
                }
        
                .title {
                    color: $color-complementary;
                    font-weight: bold;
                }
            }
        
            > .title {
                position: relative;
                z-index: 10;
                background: white;
                font-size: 1.05em;
                padding: 10px 15px;
                font-weight: bold;
                color: $color-complementary;
                border-bottom: 1px solid $color-gray;
                min-height: 55px;

                display: flex;
                flex-direction: row;
                align-items: center; 

                > .title-text {
                    display: flex;
                    width: 100%;
                    padding-left: 10px;
                }
                
                > .to-empty-cart { 
                    display: flex;   
                    justify-content: flex-end;  
                    align-items: center;                                                 
                    width: 100%;  
                    
                    &.is-loading {
                        .text {
                            margin-left: 0px;
                            opacity: 0.3;
                            cursor: default;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                    
                    > div {
                        display: flex;
                    }
                    
                    .text {
                        color: $color-primary;
                        font-size: 0.8em;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }                    
                    
                }
            }
        
            .cart-overview-products {
                max-height: 350px;
                overflow-y: auto;
                min-height: 250px;
                border-bottom: 1px solid $color-gray;
        
                &::-webkit-scrollbar {
                    width: 10px;                
                }
        
                &::-webkit-scrollbar-track {
                    background-color: $color-gray;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: white;
                    border: 1px solid $color-tertiary;  
                    border-radius: 80px;              
                }
        
                .single-product-placeholder {
                    padding: 10px 10px;
                    display: flex;
                    flex-direction: row;
        
                    &:not(:last-child) {
                        border-bottom: 1px solid $color-gray;
                    }
        
                    &:hover {
                        background-color: lighten( $color-gray, 3% );
                    }
        
                    .single-product-image {                
                        img {
                            width: 70px;
                            height: 70px;
                        }
                    }
        
                    .single-product-details {
                        margin-left: 10px;
                        width: 100%;
        
                        .single-product-name {
                            font-weight: bold;
                            color: $color-primary;
                        }
        
                        .single-product-category {
                            font-size: 0.8em;
                        }

                        .single-product-options {
                            display: flex;
                            flex-direction: row;
                            margin-top: 5px;

                            .single-product-option {
                                display: flex;
                                background-color: darken( $color-gray, 0.01% );
                                border: 0.5px solid darken( $color-gray, 3% );
                                padding: 2px 10px;
                                border-radius: 5px;
                                font-size: 0.8em;
                                .option-value {
                                    padding-left: 10px;
                                }

                                &:not(:first-child) {
                                    margin-left: 10px;
                                }
                            }
                            
                        }
                        // .single-product-options   
                        
                        .single-product-quantity {
                            margin-top: 10px;
                            .quantity-input {
                                width: 40px;
                                outline: none;
                                border: 1px solid rgba(25, 118, 210, 0.5);
                                text-align: center;
                                font-size: 0.9em;                                                                
                            }
                            
                        }
                    }
                    // .single-product-details

                    .single-product-remove {
                        display: flex;
                        flex-direction: column;                        
                        align-items: flex-end;
                            
                        .remove-button {
                            display: inline-flex;
                            padding: 10px 12px;
                            border-radius: 2px;
                            transition: 0.2s;
                            &:hover {                                
                                background-color: $color-danger;
                                color: white;
                                cursor: pointer;                                
                            }

                            &:active {
                                background-color: lighten( $color-danger, 10% );
                            }
                        }

                        .price {
                            font-weight: bold;
                            color: $color-complementary;
                            font-size: 0.9em;
                            margin-top: 5px;
                        }
                        
                    }
                }

            }
            // .cart-overview-products

            .cart-overview-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: darken( $color-tertiary, 1% );
                opacity: 0.2;
                z-index: 3;
            }

            .cart-overview-total {
                border-top: 5px solid $color-gray;
                padding: 10px 15px;

                .overview-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;                   
                    font-weight: bold;
                    
                    &:not(:first-child) {
                        margin-top: 5px;
                    }

                    .overview-item-name {                        
                        text-transform: uppercase;
                        width: 100%;
                    }

                    .overview-item-value {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: 1.3em;

                        &.overview-item-regular {
                            font-size: 0.8em;
                            width: 100%;
                            font-weight: normal;                                                       
                        }

                        &.discount {
                            color: $color-success;

                            .discount-percentage {
                                border-radius: 3px;
                                padding: 2px 7px;
                                color: getColor( "success", "color" );
                                background-color: getColor( "success", "background" );                                
                            }

                            .discount-amount {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
        // .cart-overview-placeholder
    }    
}