
@import "_variables";

.collections-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 10;

    > .title {
        display: flex;
        width: 100%;
    }
}

.left-hand-side-panel {
    &.is-fixed {
        position: fixed;        
    }
}

.products-placeholder {
    position: relative;
}