
@import "_variables";

.button-placeholder {
    padding: 12px 30px;
    cursor: pointer;    
    border-radius: 5px;
    font-size: 20px;
    transition: 0.5s;

    -webkit-box-shadow: 5px 5px 25px -11px rgba(0,0,0,0.71); 
    box-shadow: 5px 5px 25px -11px rgba(0,0,0,0.71);

    &.color-primary {        
        background: rgb(117,139,253);
        background: -moz-linear-gradient(122deg, rgba(117,139,253,1) 4%, rgba(79,83,191,1) 44%, rgba(39,24,126,1) 80%);
        background: -webkit-linear-gradient(122deg, rgba(117,139,253,1) 4%, rgba(79,83,191,1) 44%, rgba(39,24,126,1) 80%);
        background: linear-gradient(122deg, rgba(117,139,253,1) 4%, rgba(79,83,191,1) 44%, rgba(39,24,126,1) 80%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#758bfd",endColorstr="#27187e",GradientType=1);
        color: white;

        &:hover {            
            background: rgb(117,139,253);
            background: -moz-linear-gradient(122deg, rgba(117,139,253,1) 35%, rgba(79,83,191,1) 61%, rgba(39,24,126,1) 80%);
            background: -webkit-linear-gradient(122deg, rgba(117,139,253,1) 35%, rgba(79,83,191,1) 61%, rgba(39,24,126,1) 80%);
            background: linear-gradient(122deg, rgba(117,139,253,1) 35%, rgba(79,83,191,1) 61%, rgba(39,24,126,1) 80%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#758bfd",endColorstr="#27187e",GradientType=1);
        }
    }

    &:active {
        transform: scale3d(0.95,0.95,0.95);
    }
}