@import "_variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

* {
  box-sizing: border-box;
}

$i: 12;
$to: 100;
@while $i<$to {
  .font-s-#{$i} {
    font-size: #{$i}px;
  }
  $i: $i + 1;
}

.tiptop-body {
  background-color: lighten($color-gray, 3%);
}
